@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    An administrator user has been created for you.
    <br />
    <b>Admin@home.com / P@ssw0rd!</b>
    <br />
    See <b>_Layout.cshtml</b> to observe how to hide and show hyperlinks.
    <br />
    See the <b>Home/SecureArea()</b> method to observe how to access the current user.
    <br />
    <b>[Authorize(Roles = "Admin,OtherRoleName")]</b> can be placed above classes or methods to restrict access.
    <br/>
    The <b>sqlite database</b> is located in wwwroot.
    <br/>To create a <b>custom user</b> I recommend the approach that is dicussed in  preclass week 4.
</div>
